<DOCTYPE! HTML>
<html lang="en">
	<head>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<title>Quiz Generator</title>
	</head>
	<body>
	
		<p id="quest">{{ myVariable.q }}</p>
		<form action="/" method="GET">
			<input type="radio" name="answer" value="a">{{ myVariable.a }}</input></br>
			<input type="radio" name="answer" value="b">{{ myVariable.b }}</input></br>
			<input type="radio" name="answer" value="c">{{ myVariable.c }}</input></br>
			<input type="radio" name="answer" value="d">{{ myVariable.d }}</input></p>
			<input type="hidden" name="cq" value="{{ nq }}"/>
			<input type="submit" value="Senden">
		</form>
	</body>
</html>