<DOCTYPE! HTML>
<html lang="en">
<head>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<title>Quiz Generator</title>
</head>
<body>
    {% if cq == -1 %}
        <h3>Great, all questions where answered.</h3>
    {% else %}
        <h3>Question number {{ cq+1 }}:</h3>
        <p id="quest">{{ myVariable.q }}</p>
        <form action="/" method="GET">
            <input type="radio" name="answer" value="a">{{ myVariable.a }}</input></br>
            <input type="radio" name="answer" value="b">{{ myVariable.b }}</input></br>
            <input type="radio" name="answer" value="c">{{ myVariable.c }}</input></br>
            <input type="radio" name="answer" value="d">{{ myVariable.d }}</input></p>
            <input type="hidden" name="cq" value="{{ nq }}"/>
            <input type="hidden" name="pq" value="{{ cq }}"/>
            <br/>
            <input type="submit" value="Check & goto next question">
        </form>
    {% endif %}

    <br/><br/>

    {% if pq_correct >= 0 %}
    <h3>Check of your previous answer:</h3>
    {% endif %}

    {% if pq_correct == 1 %}
        <p>TOP! Your previous Answer was correct.</p>
    {% elif pq_correct == 0 %}
        <p>Sorry! Your previous Answer was <b>not</b> correct.
        <a href="?cq={{ pq }}">Try again (goto previous question)</a>
        </p>
    {% endif %}

</body>
</html>