{% extends "layout.html" %}
{% block body %}
{{js|safe}}
    {% if cq == -1 %}
        <h3>Great, all questions where answered.</h3>
        <a href=" {{ url_for('index') }} ">Go back.</a>
    {% else %}
        <h3 id="test">Question number {{ cq+1 }}:</h3>
        <p id="quest">{{ myVariable.q }}</p>
        <form action="/quiz" method="GET">
            <label> <input type="radio" name="answer" value="a"> {{ myVariable.a }} </label><br>
            <label> <input type="radio" name="answer" value="b"> {{ myVariable.b }} </label><br>
            <label> <input type="radio" name="answer" value="c"> {{ myVariable.c }} </label><br>
            <label> <input type="radio" name="answer" value="d"> {{ myVariable.d }} </label><br>
            <input type="hidden" name="cq" value="{{ nq }}"/>
            <input type="hidden" name="pq" value="{{ cq }}"/>
            <br/>
            <button type="button" onclick="clicked()" id="checkButton">Check</button>
            <input type="submit" value="Goto next question" id="nextButton">
        </form>

    {% endif %}

    <br/><br/>

    {% if pq_correct >= 0 %}
        <h3>Check of your previous answer:</h3>
        {% if pq_correct == 1 %}
        <p>TOP! Your previous answer was correct.</p>
        {% elif pq_correct == 0 %}
        <p>Sorry! Your previous Answer was <b>not</b> correct.
        <a href="?cq={{ pq }}">Try again (goto previous question)</a>
        </p>
        {% endif %}
    {% endif %}

    <p> Correct answers: {{ count }}</p>

    <script>
        // the correct answer input
        var results = [];

        // start when ready
        window.onload = function() {

            // Store Flask variable in rightAnswer
            var rightAnswer = '{{ answerVar }}';
            console.log("Right answer = " + rightAnswer);

            // Select all input elements
            elements = document.getElementsByTagName("input");

            // Find the correct input-label and save in results
            for(var x = 0; x < elements.length; x++)
                if(elements[x].value == rightAnswer)
                    results.push(elements[x]);
        };

        // Function for check-button
        function clicked(rightAnswer){
                results[0].parentNode.classList.add("action");
                document.getElementById('checkButton').style.display = 'none';
                document.getElementById('nextButton').style.display = 'block';
         };


    </script>
{% endblock %}

